---
import Layout from "../layouts/Layout.astro";
import { MainForm } from "../components/MainForm";
import { Description } from "../components/Description";
export const prerender = false;
---

<Layout>
  <section class=" w-full p-8 items-center justify-center flex flex-col ">
    <Description client:load/>
    <MainForm client:load />
  </section>
</Layout>
